<!doctype html>
<html lang="zh">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" sizes="any" mask href="/static/img/zeromake.svg">
	<meta http-equiv="Content-Language" content="zh">
	<meta name="viewport" content="width=device-width">
	<title>{% block title %}{% endblock %}zeromake static blog</title>
	<link rel="stylesheet" href="/static/css/markdownpad-github.css" type="text/css">
	<link rel="stylesheet" href="/static/css/base.css" type="text/css">
	{% block head_other %}
	{% endblock %}
	{% endblock%}
</head>

<body>
	<header class="base_header">
		<h1><a href="{{ url_for("index") }}">zeromake blog</a></h1>
		<div class="author-info">
			<a class="author-info-github" href="https://github.com/zeromake">GitHub</a>
			<a class="author-info-sf" href="https://segmentfault.com/u/zeromake">SegmentFault</a>
		</div>
	</header>
	<div class="zero_content">
		<div class="markdown-content">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
</body>
</html>
