{% extends "base.html" %}
{% block head %}
	 {{ super() }}
	<link rel="stylesheet" href="/static/css/pygments.css">
{% endblock %}
{% block content %}
	<h2>{{ page.title }}</h2>
	<div class="markdown-body">

	<div>创建时间: {{ page.meta.date }}</div>
	<div>最后更新: {{ page.meta.last_date }}</div>
	<div>博客原文:<a href="{{ root_url+request.path }}">地址</a></div>
	<hr>
	{{ page.html|safe }}
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.meta.date | md5 }}" data-title="{{ page.title }}" data-url="{{ root_url+request.path }}"></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
		var duoshuoQuery = {short_name:"fly-zero"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0]
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
	</div>
{% endblock content %}
