{% extends "base.html" %}
{% block title %}{{ page.title }}-{% endblock %}
{% block head_other %}
	<link rel="stylesheet" href="{{ url_for('pygments_css') }}">
	<script type="text/javascript">
		var duoshuoQuery = {short_name:"fly-zero"};
	</script>
	<script src="//static.duoshuo.com/embed.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
	<h1>{{ page.title }}</h1>
	<div class="markdown-body">
		<div>创建时间: {{ page.meta.date }}</div>
		<div>最后更新: {{ page.meta.last_date }}</div>
		<div>博客原文:<a href="{{ root_url+request.path }}">地址</a></div>
		<hr>
		{{ page.html|safe }}
		<!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="{{ page.meta.date | md5 }}" data-title="{{ page.title }}" data-url="{{ root_url+request.path }}">
		</div>
	<!-- 多说评论框 end -->
	</div>
{% endblock content %}
